<table>
  <% @univs.each_with_index do |u, idx| %>
      <tr>
        <td><%= idx+1 %></td>
        <td><%= u.name%></td>
        <td><%= u.count%></td>
      </tr>
  <% end %>
</table>

<table>
  <% @celebs.each_with_index do |u, idx| %>
      <tr>
        <td><%= idx+1 %></td>
        <td><%= u.name%></td>
        <td><%= u.count%></td>
      </tr>
  <% end %>
</table>