<% @fs.each do |f| %>
<tr class="result-item">
      <td>
        <% univ = f.univ.name.partition('(') %>
        <% if univ[2].nil? %>
          <%= univ[0] %>
        <% else %>
          <%= univ[0] %><br>
          <%= univ[1] + univ[2] %>
        <% end %>
      </td>
      <td><%= f.schedules.first.date.strftime("%-m.%d") %> - <%= f.schedules.last.date.strftime("%-m.%d") %></td>
      <td>
        <% celebs = [] %>
        
        <% f.festival_schedules.each do |fs| %>
        
          <% celebs += fs.celebs.pluck(:name) %>
          
        <% end %>
        
        <% @celebs = celebs.uniq %>
        <% @celebs.map! { |c| c = c.include?("(") ? c.split("(")[0] : c } %>
        <%= @celebs.join(", ") %>
      </td>
      <td>
        <a href="/details/<%=f.id%>">
          <!--<i class="fa fa-ellipsis-h" aria-hidden="true" style="color:#808080"></i>-->
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <!--상세-->
        </a>
      </td>
    </tr>
<% end %>