
    <div id="main-title" class="col-xs-12">
      <i class="fa fa-search" aria-hidden="true"></i>&nbsp;전국 대학 축제
    </div>

    <div class="col-xs-12" style="text-align: center; margin-bottom: 10px">
      <div class="fb-like" data-href="https://ourcampus.party" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <%= form_tag '/home/index', remote: true, onsubmit:'submitForm();' do %>

        <div class="col-xs-12">
          <%= text_field_tag :univ, '',:class => 'form-control', :placeholder => '학교 검색' %>
        </div>
        
        <div class="col-xs-6 grid-margin-left">
          <!--<div class="input-group">-->
            <!--<label for="from" class="input-group-addon btn">-->
            <!--  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>-->
            <!--</label>-->
            <%= text_field_tag :from, "", :class => 'form-control show_default', :placeholder => '일정(from)', :readonly => true %>
          <!--</div>-->
        </div>
        <div class="col-xs-6 grid-margin-right">
          <!--<div class="input-group">-->
            <!--<label for="to" class="input-group-addon btn">-->
            <!--  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>-->
            <!--</label>-->
            <%= text_field_tag :to, "", :class => 'form-control show_default', :placeholder => '일정(to)', :readonly => true %>
          <!--</div>-->
        </div>
        
        <div class="col-xs-6 grid-margin-left">
          <%= text_field_tag :celeb, '',:class => 'form-control', :placeholder => '라인업' %>
        </div>
        
          <div class="col-xs-6 grid-margin-right">
            <% @keyword = {"키워드 검색" => "","신촌" => "신촌", "여대" => "여대","대학로" => "대학로","홍대" => "홍대" } %>
            <%= select_tag :keyword, options_for_select(@keyword), :class => 'select form-control' %>
          </div>
          <div style="clear:both"></div>
          <div class="col-xs-12">
            <div data-no-turbolink>
              <%= submit_tag "검색", data: { disable_with: "검색 중"}, :class => 'btn btn-default search_button' %>
            </div>
          </div>
          <div style="clear:both"></div>

    <% end %>