<div id="wrapper">
<div class="container-box">
  <!--네비게이션 바 셋팅-->
  <%= render 'home/navbar' %>
  
  <div class="content-box">
    <h3 id="detail-title">
      <% @univname = @f.univ.name %>
      <% if @univname.include? "(" %>
        <% @univname = @univname.split("(") %>
        <%= @univname[0] + "학교" + "(" + @univname[1] %>
      <% else %>
        <%= @univname + "학교" %>
      <% end %>
    </h3>

    <table class="table" id="detail-table">
      <tr>
        <th style="width:20%">날짜</th>
        <th style="width:85%">라인업</th>
      </tr>
      <% @f.festival_schedules.each do |fs| %>
          <tr>
            <td><%= l(fs.schedule.date, format: "%-m.%d.%a") %></td>
            <td>
              <%= fs.celebs.pluck(:name).join(", ") %>
            </td>
          </tr>
      <% end %>
    </table>
    <div class="map-icon" style="display:block; text-align: center; margin-bottom: 20px">
    <%= link_to "http://map.naver.com" do %>
      <%= image_tag("naver_map_logo", height: '64', width: '64') %>
    <% end %>
    </div>
  
  </div>
  
</div>
  <%= render 'layouts/footer' %>
</div><!--wrapper-->