


<div class="container-box">
  <!--네비게이션 바 셋팅-->
  <%= render 'home/navbar' %>
  
  <div class="content-box">
    <h3 id="detail-title"><%= @f.univ.name%>학교</h3>

    <table class="table" id="detail-table">
      <tr>
        <th style="width:25%">날짜</th>
        <th style="width:70%">라인업</th>
      </tr>
      <% @f.festival_schedules.each do |fs| %>
          <tr>
            <td><%= l(fs.schedule.date, format: "%-m.%d.%a") %></td>
            <td>
              <%= fs.celebs.pluck(:name).join(", ") %>
            </td>
          </tr>
      <% end %>
    </table>
    <%= link_to @f.univ.path_link do %>
      <%= image_tag("naver_map_logo", height: '64', width: '64') %>
    <% end %>
  </div>
</div>