<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#EA4C89">
  <title>OurcampusParty</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer style="background: #424242;">
    <div class="container text-center" style="padding-top: 30px; padding-bottom:30px; color: #e6e6e6;">
        <div class="row">
          <div style="width: 600px; margin:0 auto;">
            <div class="col-xs-6">
              <%= image_tag("likelion_logo", height: '64', width: '64') %></div>
            <div class="col-xs-6">
              <p style="font-family: bm_jua">만든이</p>
              <p style="font-family: bm_jua">문승현, 민동준, 이윤형, 이정훈, 홍창남</p>
            </div>
          </div>
        </div>
    </div>
</footer>


<script>
  // google analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77456544-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
